:root {
  /* From Material UI: https://materialui.co/colors */
  --primary-background: #fff;
  --secondary-background: #FAFAFA; /* gray 50 */
  --shadow-color: #B0BEC5; /* blue gray 200 */
  --text-color: #37474F; /* blue gray 800 */
  --primary-color: #0D47A1; /* light blue 900 */
}

* {
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  width: auto;
  height: 100vh;
  background: var(--primary-background);
}

.group-list {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.group-card {
  background: var(--secondary-background);
  width: 100%;
  padding: 0.5rem;

  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-color);
}
.group-card__title {
  top: 0;
  font-size: 1rem;
}
.group-card__todo-list {
  padding-left: 0;
  list-style-type: none;
}

.todo-element button {
  font-size: 1.4rem;
  margin-right: 0.5rem;

  background: var(--secondary-background);
  color: var(--text-color);
  border: 0;
  border-radius: 0.2rem;
}


.add-todo-form {
  display: flex;
  gap: 1em;
}

.add-todo-form input {
  background: var(--primary-background);
  width: auto;
  border: 0;
  font-size: 1.3rem;
  flex-grow: 1;
}

.add-todo-form button {
  height: 1.6rem;
  width: 1.6rem;
  font-size: 1.3rem;

  align-self: center;
  background: var(--primary-color);
  color: var(--primary-background);
  border: 0;
  border-radius: 0.2rem;
}
